.detail-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card-item-detail {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}

.item-detail-img {
    width: 100%;
    height: 250px;
}

.item-description {
    font-size: 15px;
    text-align: center;
}

.item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}

.item-count span {
    margin: 0 5px;
}