.navbar {
    background-color: #333333;
    color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Nunito", sans-serif;
}

.navbar-title {
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-title:hover {
    transform: scale(1.05);
}

.navbar-title-link {
    color: #F7F7F7;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lora", serif;
}

.navbar-title-link:hover {
    color: #CCCCCC;
}

.navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 70px;
}

.navbar-list-item-link {
    color: #F7F7F7;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
}

.navbar-list-item-link.active {
    color: #CCCCCC;
    text-decoration: none;
    border-bottom: 2px solid #CCCCCC;
    font-weight: bold;
    font-size: 16px;
}

.navbar-list-item-link:not(.active):hover {
    color: #555555;
    transition: all 0.3s ease-in-out;
}

.cart-widget {
    display: flex;
    align-items: center;
    gap: 3px;
}

.cart-widget-icon {
    font-size: 22px;
    color: #F7F7F7;
    transition: all 0.3s ease-in-out;
}

.cart-widget-icon:hover {
    color: #CCCCCC;
    transform: scale(1.1);
}

.cart-widget-number {
    background-color: #CCCCCC;
    color: #333333;
    cursor: default;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-list {
        margin-top: 10px;
    }

    .navbar-list-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}