.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #F7F7F7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h3 {
    color: #333333;
    transition: all 0.3s ease-in-out;
}

.navbar h3:hover {
    transform: scale(1.1);
}


.navbar-list {
    display: flex;
    gap: 10rem;
}

.navbar-list a {
    transition: all 0.3s ease-in-out;
}
.navbar-list a:hover {
    color: #555555;
}

.cart-widget {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.cart-icon {
    font-size: 1.5rem;
    color: #333333;
}

.cart-number {
    background-color: #CCCCCC;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
}