/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* enlaces */
a {
    color: inherit;
    text-decoration: none;
}

/* listas */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* formularios */
input,
textarea,
select {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}